@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/300-italic.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/400-italic.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/500-italic.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/roboto/700-italic.css';

@import '../frontend/src/app/theme/shared_styling/fonts/BebasNeue/300.css';
@import '../frontend/src/app/theme/shared_styling/fonts/BebasNeue/400.css';
@import '../frontend/src/app/theme/shared_styling/fonts/BebasNeue/700.css';
@import '../frontend/src/app/theme/shared_styling/colors/colors-css-vars.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
